<div class="courseFlow">
    
<p><h4>オンラインレッスン</h4></p>

<p>遠方の方、決まった時間に教室に通うのが難しい方、カービング経験のない方も、どなたでもお気軽にご利用ください。</p>

<p>30分からご受講可能です、すきま時間にぜひどうぞ。</p>
<div class="pics"><a href="./images/S__29663240.jpg"  data-lightbox="1"><img src="./images/S__29663240.jpg" ></a></div>

<p>
    <ul>
        <li><strong>料金</strong></li>
        <li>初回体験....1,000円(30分)</li>
        <li>30分....1,600円</li>
        <li>60分....3,200円</li>
        <li>90分....4,500円</li>
    </ul>
</p>
 

<p><ul>
    <li><strong>お得な回数券</strong></li>
    <li>30分×10回分....14,500円</li>
    <li>1枚で30分、2枚で60分、3枚で90分<br>のご受講が可能です。</li>
    <li>＊有効期限3ヶ月</li>
</ul>
</p>

<p>お申込みはこちら↓
    <br>
<a href="https://airrsv.net/satocarving/calendar">https://airrsv.net/satocarving/calendar</a>
</p>

<div class="pics"><a href="./images/S__29663242.jpg"  data-lightbox="1"><img src="./images/S__29663242.jpg"></a></div>

<p>
    <ul class="stars">
        <li><span>30分からご受講可能。 (30分／60分／90分)</span></li>
        <li><span>LINEのビデオ通話を使うので設定は不要。</span></li>
        <li><span>苦手克服や復習に。</span></li>
        <li><span>「とにかくバラが作れるようになりたい！」などご要望に合わせたレッスンにも対応します。</span></li>
        <li><span>ソープ、フルーツ、どちらでもOK  (材料をお手元にご用意ください)</span></li>
        <li><span>レッスン終了後、ご希望の方には写真による添削いたします。</span></li>
    </ul>
</p>


<p><ul>
    <li><h4>
        ご受講の流れ</h4></li>
        

    <br>
        <li>予約サイトからお申込み</li>
        <li>↓</li>
        <li>ご予約確認、ご入金先のご案内</li>
        <li>↓</li>
        <li>ご入金確認後、LINE友達登録</li>
        <li>↓</li>
        <li>ご予約日時にこちらからLINEビデオ通話をおかけします。</li>
        <li>↓</li>
        <li>レッスン開始！</li>
</ul>
</p>

    <p>
        お申込みはこちら↓<br>
        <a href="https://airrsv.net/satocarving/calendar">https://airrsv.net/satocarving/calendar</a>
    </p>

    <div class="pics"><a href="./images/S__29663245.jpg"  data-lightbox="1"><img src="./images/S__29663245.jpg"></a></div>


</div>
