<div class="courseFlow">
    
<p>オンラインレッスン</p>

<p>遠方の方、決まった時間に教室に通うのが難しい方、カービング経験のない方も、どなたでもお気軽にご利用ください。</p>

<p>30分からご受講可能です、すきま時間にぜひどうぞ。</p>

<p>料金</p>
<p>初回体験....1,000円(30分)</p>
<p>30分....1,600円  </p>
<p>60分....3,200円　</p>
<p>90分....4,500円  </p>

<p>お得な回数券</p>
<p>30分×10回分....14,500円</p>
<p>1枚で30分、2枚で60分、3枚で90分のご受講が可能です。</p>
<p>＊有効期限3ヶ月</p>

<p>お申込みはこちら↓</p>
<p><a href="https://airrsv.net/satocarving/calendar">https://airrsv.net/satocarving/calendar</a></p>

<p>・30分からご受講可能。 (30分／60分／90分)</p>
<p>・LINEのビデオ通話を使うので設定は不要。</p>
<p>・苦手克服や復習に。</p>
<p>・「とにかくバラが作れるようになりたい！」などご要望に合わせたレッスンにも対応します。</p>
<p>・ソープ、フルーツ、どちらでもOK  (材料をお手元にご用意ください)</p>
<p>・レッスン終了後、ご希望の方には写真による添削いたします。</p>


<p>ご受講の流れ</p>

<p>
    予約サイトからお申込み
    ↓
    ご予約確認、ご入金先のご案内
    ↓
    ご入金確認後、LINE友達登録
    ↓
    ご予約日時にこちらからLINEビデオ通話をおかけします。
    ↓
    レッスン開始！
</p>

<p>
    <p>お申込みはこちら↓</p>
</p>
<p><a href="https://airrsv.net/satocarving/calendar">https://airrsv.net/satocarving/calendar</a></p>

</div>
