<header class="header">
    
    <div class="logo">
      <a href="/"><img src="/images/logo.png"></a>
    </div>

    <div class="wrapper-menu">
        <nav class="site-nav">
          
          <div class="menu-toggle">
            <div class="hamburger"></div>
          </div>

          <ul class="open desktop">
            <li><a href="/profile">プロフィール</a></li>
            <li><a href="/classes">教室案内</a></li>
            <li><a href="/course_flow">オンラインレッスン</a></li>
            <li><a href="/topics">トピック</a></li>
            <li><a href="/fruit">ギャラリー</a></li>
            <li><a href="mailto:sato@chu-sin.com">お問い合わせ</a></li>
          </ul>

        </nav>
    </div>
  </header>