<!-- <link rel="stylesheet" href="./css/styles-main.css"> -->

<div class="banner">
  <img src="./images/apple.jpg">
</div>
  
<div class="media-links">
    <a href="https://www.facebook.com/tomoko.sato.39904" target="_blank"><img src="./images/facebook.jpg" alt=""  border="0"></a>
    <a href="https://twitter.com/atelier_SATO" target="_blank"><img src="./images/twitter.jpg" alt="" border="0"></a></span>
    <a href="https://www.instagram.com/tomoko_sato_/?hl=ja" target="_blank"><img src="./images/instagram.jpg" alt=""  border="0"></a>    
</div>

<div id="news">

  <!-- to turn on/off news section select/deselect only the following include
   or comment out any items in news.ejs -->
  <%- include('news') %>

  </div>