<div class="news-wrapper-flex">
  
    <div id="news-title">
      News
    </div>
  
    <!-- <div class="news_img"><img src="/images/topics/2024/250128_0.jpg" >
      <span class="news_title"><a href="/topics/2024/details/1231">"明けましておめでとうございます"</a></span>
    </div> -->
    
    <!-- <div class="news_img">
      <img src="/images/topics/2024/250127_0.jpg" >
      <span class="news_title"><a href="/topics/2024/details/1127">"Feel the THAI @ASAI 京都四条" 第4弾開催</a>(2024.12.17 更新)</span>
    </div> -->

    <!-- <div class="news_img">
      <img src="/images/topics/2025/250309_0.jpg" >
      <span class="news_title"><a href="/topics/2025/details/0309">佐藤朋子作品展　-模様の居場所-</a></span>
    </div> -->

    <!-- <div class="news_img">
      <img src="/images/topics/2025/250418.jpg" >
      <span class="news_title"><a href="/topics/2025/details/0418">個展終了いたしました</a></span>
    </div> -->

        <!-- <div class="news_img">
      <img src="/images/topics/2025/250602.jpg" >
      <span class="news_title"><a href="/topics/2025/details/0602">第5弾  Feel the THAI @ASAI京都四条</a></span>
    </div> -->


    <!-- <div class="news_img">
      <img src="/images/topics/2025/250620.jpg" >
      <span class="news_title"><a href="/topics/2025/details/0620">第18回 フルーツ&ソープカービング京都教室作品展</a></span>
    </div> -->

    <div class="news_img">
      <img src="/images/topics/2025/250708.jpg" >
      <span class="news_title"><a href="/topics/2025/details/0708">ありがとうございました</a></span>
    </div>




</div>
