    <!-- **************** profile info - exhibitions & events ******************* -->
    <header class="profileInfo">
        <h3></h3>
    </header>
    <div class="year title grid-item">Year</div>
    <div class="exhibits title grid-item">個展・展覧会</div>
    <div class="events title grid-item">イベント・出張講習</div>
    
    <div class="year grid-item">2023</div>
    <div class="exhibits grid-item">
        個展　「TOMOKO SATO SOLO EXHIBITION 」ギャラリーDAIMON(京都)<br>
        第16回　京都教室作品展 OPT GALLERY (京都)<br>
        第20回    福井教室作品展　ハピリン(福井)<br>
    </div>
    <div class="events grid-item"></div>

    <div class="year grid-item">2022</div>
    <div class="exhibits grid-item">
        第15回　京都教室作品展 OPT GALLERY (京都)<br>
        第19回 福井教室作品展　ハピリン(福井)<br>
        秋の作品展　西武福井店 (福井)<br>
    </div>
    <div class="events grid-item"></div>

    <div class="year grid-item">2021</div>
    <div class="exhibits grid-item">
        第14回 京都教室作品展　OPT GALLERY（京都）<br>
        第17回 福井教室作品展　ハピリン（福井）<br>
    </div>
    <div class="events grid-item"></div>

    <div class="year grid-item">2020</div>
    <div class="exhibits grid-item">
        BUSTERCALL=ONE PIECE展」に参加（L.A.   香港　横浜）<br>
        第13回 京都教室作品展　OPT GALLERY（京都）<br>
        第16回 福井教室作品展　ハピリン（福井）<br>
        個展　ギャラリーDAIMON  （京都）<br>
    </div>
    <div class="events grid-item"></div>

    <div class="year grid-item">2019</div>
    <div class="exhibits grid-item">
        第12回 京都教室作品展 OPT GALLERY(京都)<br>
        第15回 福井教室作品展 ハピリン(福井)<br>
    </div>
    <div class="events grid-item">
        講演   新たな働き方スタート講座   (福井)<br>
        越前陶芸村    ワークショップ (福井)<br>
        あやべ産業まつり    展示・実演・ワークショップ (京都)<br>
        越前陶芸村 陶芸祭    展示・実演 (福井)<br>
        ルイ・ヴィトン店舗にて展示・実演（東京）<br>
    </div>

    <div class="year grid-item">2018</div>
    <div class="exhibits grid-item">
        個展　Gallery Daimon（京都）<br>
        第１１回　京都教室作品展　OPT GALLERY（京都）<br>
        第１４回　福井教室作品展　福井新聞風の森ギャラリー（福井））<br>
    </div>
    <div class="events grid-item"></div>

    <div class="year grid-item">2017</div>
    <div class="exhibits grid-item">
        第１０回 京都教室作品展 OPT GALLERY（京都）<br>
        第１３回 福井教室作品展 福井新聞風の森ギャラリー （福井）<br>
    </div>
    <div class="events grid-item"></div>

    <div class="year grid-item">2016</div>
    <div class="exhibits grid-item">
        第９回 京都教室作品展　OPT GALLERY （京都）<br>
        第１２回 福井教室作品展　福井新聞風の森ギャラリー（福井）<br>
    </div>
    <div class="events grid-item">
        福井おとな博　展示、体験教室<br>
        Dream Festa 2016 　実演、講習 （東京）<br>
        子育てパパカレッジ　「パパと作るかぼちゃランタン」　講師 （福井）<br>
    </div>

    <div class="year grid-item">2015</div>
    <div class="exhibits grid-item">
        第８回 京都教室作品展　OPT GALLERY （京都）<br>
        第１１回 福井教室作品展　福井新聞風の森ギャラリー （福井）<br>
    </div>
    <div class="events grid-item">
        河野中学校にて講演（福井）<br>
    </div>

    <div class="year grid-item">2014</div>
    <div class="exhibits grid-item">
        第７回京都教室作品展　OPT GALLERY（京都）<br>
        第10回福井教室作品展　福井新聞風の森ギャラリー（福井）<br>
    </div>
    <div class="events grid-item">
        福井おとな博 展示及び体験教室<br>
        ここがスゴい！ふくいのものづくり 展示及び実演<br>
        福井 技の祭典 展示及び実演<br>
        人権啓発フェスティバル2014 体験教室<br>
        その他 出張講習等多数<br>
    </div>

    <div class="year grid-item">2013</div>
    <div class="exhibits grid-item">
        「handmade works 2013」　btf ANNEX （東京）に参加<br>
        第6回 京都教室作品展 　OPT GALLERY（京都）<br>
        第9回 福井教室作品展　福井新聞風の森ギャラリー（福井）<br>
    </div>
    <div class="events grid-item">
        福井駅前「まちフェス」 実演、体験教室<br>
        「handmade works 2013」　btf ANNEX （東京） 実演、体験教室<br>
    </div>

    <div class="year grid-item">2012</div>
    <div class="exhibits grid-item">
        個展　BIT CUBE art space（京都）<br>
        第５回　京都教室作品展　OPT GALLERY（京都）<br>
        第８回　福井教室作品展　福井新聞風の森ギャラリー（福井）<br>
    </div>
    <div class="events grid-item"></div>

    <div class="year grid-item">2011</div>
    <div class="exhibits grid-item">
        \第４回　京都教室作品展　OPT GALLERY（京都）<br>
        個展　ギャラリーF（京都）<br>
        第７回　福井教室作品展　福井新聞社風の森ギャラリー（福井）<br>
    </div>
    <div class="events grid-item">
        出張講習　福井新聞まんなかプラザ　フルーツカービング<br>
        出張講習　福井新聞まんなかプラザ　ソープカービング<br>
        出張講習　ラ・キャリエール　クッキングスクール<br>
        出張講習　Tokienjoy・集う<br>
    </div>

    <div class="year grid-item">2010</div>
    <div class="exhibits grid-item">
        第３回　京都教室展示会　OPT GALLERY（京都）<br>
        第６回　福井教室展示会　福井新聞社風の森ギャラリー（福井）<br>
    </div>
    <div class="events grid-item"></div>

    <div class="year grid-item">2009</div>
    <div class="exhibits grid-item">
        第５回　福井教室展示会　福井新聞社風の森ギャラリー（福井）<br>
        第２回　京都教室展示会　OPT GALLERY（京都）<br>
    </div>
    <div class="events grid-item">
        出張講習　べジフルコミュニティ福井　<br>
        （NATURAL DELI & CAFE veg.yard）<br>
        出張講習　フラワーネット北陸ブロックセミナー（リライム）<br>
    </div>

    <div class="year grid-item">2008</div>
    <div class="exhibits grid-item">
        第１回　京都教室展示会　OPT GALLERY（京都）<br>
        第４回　福井教室展示会　福井新聞社風の森ギャラリー（福井）<br>
        個展　椿ーtsubaki labo-KYOTO（京都）<br>
    </div>
    <div class="events grid-item">
        高砂席（THE SODOH）<br>
    </div>

    <div class="year grid-item">2007</div>
    <div class="exhibits grid-item">
        個展　ギャラリーF（京都）<br>
        福井教室展示会　福井新聞社風の森ギャラリー（福井）<br>
    </div>
    <div class="events grid-item">
        高砂席装飾　（prinz）<br>
        出張講習　菓子工房 chinoir<br>
        市場まつり（京都市中央卸売市場）　展示、実演<br>
    </div>

    <div class="year grid-item">2006</div>
    <div class="exhibits grid-item">
        福井教室展示会　福井新聞社風の森ギャラリー（福井）<br>
    </div>
    <div class="events grid-item">
        シニアフェスタ2006　（石川県産業展示館）　　展示、実演<br>
        大城エネルギー　家族だんらんふれあいひろば　展示、実演、体験教室<br>
    </div>

    <div class="year grid-item">2005</div>
    <div class="exhibits grid-item">
        福井教室展示会　福井新聞社風の森ギャラリー（福井）<br>
    </div>
    <div class="events grid-item">
        福井新聞社　風の森まつり　　展示、実演<br>
        日本そば博覧会　（福井県産業会館）　　展示、実演<br>
    </div>

    <div class="year grid-item">2004</div>
    <div class="exhibits grid-item">
        個展　福井新聞社風の森ギャラリー（福井<br>）
    </div>
    <div class="events grid-item"></div>

    <div class="year grid-item">1998</div>
    <div class="exhibits grid-item">
        個展　画廊ざぶ（大阪）<br>
    </div>
    <div class="events grid-item"></div>

    <div class="year grid-item">1997</div>
    <div class="exhibits grid-item">
        個展　ギャラリーピクチャー（大阪）<br>
    </div>
    <div class="events grid-item"></div>

    <div class="year grid-item">1996</div>
    <div class="exhibits grid-item">
        個展　ギャラリーF（京都）<br>
    </div>
    <div class="events grid-item"></div>

    
    <!-- ***************** TV/radio and Newspapers/magazines *************-->
    <div class="year title grid-item">Year</div>
    <div class="TV title grid-item">TV・ラジオ</div>
    <div class="news title grid-item">新聞・雑誌</div>
    
    <div class="year grid-item">2023</div>
    <div class="TV grid-item">
        BS-TBS 「こころめぐり逢い」<br>
        日本テレビ　「ヒルナンデス」<br>
    </div>
    <div class="news grid-item"></div>

    <div class="year grid-item">2022</div>
    <div class="TV grid-item">
        日本テレビ　「ヒルナンデス」<br>
    </div>
    <div class="news grid-item"></div>

    <div class="year grid-item">2020</div>
    <div class="TV grid-item">
        東京FM "Honda Smile Mission"<br>
        YouTubeチャンネル　"DELI BALI"<br>
        テレビ朝日”スーパーJ チャンネル”<br>
    </div>
    <div class="news grid-item"></div>

    <div class="year grid-item">2018</div>
    <div class="TV grid-item">
        FBC福井放送　おじゃまっテレ 「キラリ情熱人」 〜果物に咲く芸術の花〜<br>
        TBSテレビ　アッコにおまかせ！<br>
        日本テレビ　行列のできる法律相談所<br>
        日本テレビ　シューイチ「まじ☆すか」<br>
    </div>
    <div class="news grid-item">
        月刊URALA １月号　2018年に始めたい11のこと。<br>
    </div>

    <div class="year grid-item">2017</div>
    <div class="TV grid-item">
        タカラヅカ・スカイ・ステージ「夢みるチカラ」<br>
        FBCラジオ「良ーいドン!!」<br>
    </div>
    <div class="news grid-item"></div>

    <div class="year grid-item">2016</div>
    <div class="TV grid-item">
        FBC福井放送「おじゃまっテレ」<br>
    </div>
    <div class="news grid-item">
    </div>

    <div class="year grid-item">2015</div>
    <div class="TV grid-item">
    </div>
    <div class="news grid-item">
        福井新聞<br>
        日刊県民福井<br>
    </div>

    <div class="year grid-item">2014</div>
    <div class="TV grid-item">
        FBCラジオ「よろず屋ラジオ」<br>
        FM福井「Life is」<br>
        情報配信サイト「alica」にて対談 ネット配信<br>
    </div>
    <div class="news grid-item">
        福井新聞<br>
    </div>

    <div class="year grid-item">2012</div>
    <div class="TV grid-item">
    </div>
    <div class="news grid-item">
        雑誌「SUPINNUTS」表紙及び巻頭特集<br>
    </div>

    <div class="year grid-item">2011</div>
    <div class="TV grid-item">
    </div>
    <div class="news grid-item">
        「フルーツ飾り切り」（PHP）に参加<br>
    </div>

    <div class="year grid-item">2010</div>
    <div class="TV grid-item">
        丹南ケーブルテレビ「ひと、まち、輝いて」<br>
        NHK　ニュース610「京コレ」<br>
        NHK　「ぐるっと関西おひるまえ」<br>
        朝日放送「おはよう朝日です」<br>
        KBS京都「京都新聞ニュース」<br>
        FBC福井放送「おじゃまっテレ」<br>
    </div>
    <div class="news grid-item">
        月刊ウララ、福井新聞、Ciao magazine、毎日新聞、朝日新聞、<br>
        朝日新聞あいあいAI京都、京都中央市場新聞、京都新聞<br>
    </div>

    <div class="year grid-item">2007</div>
    <div class="TV grid-item">
        FBC福井放送「イケてる福井」<br>
        KBS京都「京都！ちゃちゃちゃっ」<br>
        KBS京都「京プラス」<br>
        FBC福井放送　夕方ニュース<br>
    </div>
    <div class="news grid-item">
    </div>

    <div class="year grid-item">2006</div>
    <div class="TV grid-item">
        福井テレビ「スーパーニュース」<br>
    </div>
    <div class="news grid-item">
    </div>

    <div class="year grid-item">2005</div>
    <div class="TV grid-item">
        福井ケーブルテレビ<br>
    </div>
    <div class="news grid-item">
    </div>
</div>
