<!DOCTYPE html>
<html >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>atelier SATO</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/menu.js" defer></script>
    <script src="/js/lightbox.min.js" defer></script>
    <link rel="stylesheet" href="/css/lightbox.css">
    <link rel="stylesheet" href="/css/<%= style %>.css">
    
</head>

<body>
  <div class="container">
    
    <%- include('partials/header') %>

<!--*************** main content goes here ******************-->
    <div class="main-content">
      <%- include(page) %>
      
    </div>
    
<!--*************** main content ends here ******************-->

<%- include('partials/footer') %>

  </div>
  <!-- end container -->

</body>
</html>
