
.classroomInfo {
    color: black;
    white-space: pre-wrap;
    font-size: 12px;
    line-height: 2;
    a, a:visited {
        color: black;
    }

}
.classroomInfo>h3:before {
    content:"教室案内";
    font-weight: bold;
    
}

 
.kyoto-kita {
    .courseInfo>b:before {
        content: 
        "コース案内";
    }
    .courseInfo:after {
        content:
            "\a ◆ ベーシック： 14,100円／5回(果物または野菜3回、石鹸2回)"
            "\a ◆ ソープ： 14,100円／5回 (石鹸5回)"
            "\a ◆ フルーツ：14,700円／5回 (果物または野菜 5回)"
            "\a ◆ 薔薇：14,100円／５回 (石鹸５回) 詳しくは>>コチラ"
            "\a 体験レッスン：3,300円"
            "\a 単発レッスン：3,600円"
            "\a ＊各コース有効期限５ヶ月"
            "\a ＊材料費別途"
            "\a ＊施設利用料 300円/1回"
            "\a ＊日時は都合により変更の場合あります";
        white-space: pre-wrap;
    }
    
    
}

.kyoto-asahi {
    /* .courseInfo {
        &:after {
            content:
                "\a料金等、詳しくは>>コチラ<a>xxx</a>"
                "\a日時は都合により変更の場合あります。"
                "\a\a朝日カルチャーセンター京都"
                "\aTel：075-231-9693";
            }
        }
        white-space: pre-wrap; */

}
.kyoto-jeugia {
    /* .courseInfo {
        &:after {
            content:
            "\a料金等、詳しくは>>コチラ"
            "\a日時は都合により変更の場合あります。"
            
            "\a\aJEUGIAカルチャーセンター洛北阪急スクエア"
            "\aTel：075-705-0131[電話受付10:00〜19:00]";
            }
        }
        white-space: pre-wrap;
        align-self: start; */

}

.fukui-wed {
    .courseInfo{
        white-space: pre-wrap;
        align-self: start;

        &>b:before {
            content: "コース案内";
        }
        &:after {
        content:
            "\a◆ ベーシック： 14,100円／5回（果物または野菜3回、石鹸2回）"
            "\a◆ ソープ： 14,100円／5回（石鹸5回）"
            "\a◆フルーツ： 14,700円／5回（果物または野菜 5回）"
            "\a◆薔薇：14,100円／５回（石鹸５回）詳しくは>>コチラ"
            "\a体験レッスン：3,300円"
            "\a単発レッスン：3,600円"
            "\a＊各コース有効期限５ヶ月"
            "\a＊材料費別途"
            "\a＊施設利用料 300円／1回"
            "\a＊日時は都合により変更の場合あります";
        }
    }
}

.fukui-newspaper {
    /* .courseInfo{
        white-space: pre;

        &:after {
        content:
            "\a料金等、詳しくは>>コチラ"
            "\a日時は都合により変更の場合あります。"
            "\a福井新聞文化センター"
            "\atel：0776-57-5200";
        }
    } */
    
}

.fukui-sabae {
    .courseInfo{
        white-space: pre-wrap;
        
        &>b:before {
            content: "コース案内";
            
            
        }

        &:after {
        content:
        "\a◆ ベーシック： 14,100円／5回（果物または野菜3回、石鹸2回）"
        "\a◆ ソープ： 14,100円／5回（石鹸5回）"
        "\a◆ フルーツ：14,700円／5回（果物または野菜 5回）"
        "\a◆ 薔薇：14,100円／５回（石鹸５回）詳しくは>>コチラ"
        "\a体験レッスン：3,300円"
        "\a単発レッスン：3,600円"
        "\a＊各コース有効期限５ヶ月"
        "\a＊材料費別途"
        "\a＊施設利用料 300円／1回"
        "\a＊日時は都合により変更の場合あります";
        }
    }

    @media screen and (max-width: 412px) {
        .courseInfo {
            &:after {
                content:
                "◆ ベーシック： 14,100円／5回（果物または野菜3回、石鹸2回）"
                "\a◆ ソープ： 14,100円／5回（石鹸5回）"
                "\a◆ フルーツ：14,700円／5回（果物または野菜 5回）"
                "\a◆ 薔薇：14,100円／５回（石鹸５回）詳しくは>>コチラ"
                "\a体験レッスン：3,300円"
                "\a単発レッスン：3,600円"
                "\a＊各コース有効期限５ヶ月"
                "\a＊材料費別途"
                "\a＊施設利用料 300円／1回"
                "\a＊日時は都合により変更の場合あります";
                }
        }
    }
    
}
    
    




    
