
        <div class="info">
          <p><span class="title">明けましておめでとうございます</span>（2024.1.1更新）</p>
          <p>明けましておめでとうございます。<p>
          
          <p>
            本年もよろしくお願いいたします。
          </p>
          
          <p>
              詳しくは↓<br>
              <a href="https://culture.jeugia.co.jp/lesson_detail_70-54732.html" target="_blank"><strong>https://culture.jeugia.co.jp/lesson_detail_70-54732.html</strong></a>
          </p>
        </div>
        <div class="pics">
          <a href="<%-imgPath%>240101_1.jpg"  data-lightbox="1"><img src="<%-imgPath%>240101_2.jpg"/></a>
        </div>
        <div class="info">
            ＊画像をクリックすると拡大します。
        </div>
