      <section class="classes">
        <div class="info">
          <p><span class="title">ご参加ありがとうございました</span>（2023.3.3更新）</p>

          <p>先月26日、28日に開催されたタイ料理ランチとソープカービングを楽しむ &rdquo;Feel the THAI @ ASAI 京都四条<br>
              
          <p>
            ソープカービングは初めての方も既に習っている方も、皆さんそれぞれに素敵な"桜"を仕上げていただきました。
          </p>
          
          <p>
            また終了後には大好評のランチを手掛けたシェフが登場。<br>
            しばし歓談の楽しい時間となりました。
          </p>
          
          <p>
              日　時：4/26(金) 10:30-12:30<br>
              受講料：3,460円　材料費別途220円
          </p>
          　<p>
            ご参加いただいた皆様、ありがとうございました。
          </p>
          <p>
            次回は5月27日(月)に開催決定、本場タイの美味しいランチと初夏のカービングを楽しんでいただく予定です。
          </p>
          
          <p>
            詳細は決まり次第、またお知らせいたします。          </p>
        </div>
        <div class="pics">
          <a href="<%-imgPath%>240303_1.jpg"  data-lightbox="1"><img src="<%-imgPath%>240303_1.jpg"/></a>
          <a href="<%-imgPath%>240303_2.jpg"  data-lightbox="2"><img src="<%-imgPath%>240303_2.jpg"/></a>
          
        </div>
      </section>
