      <!-- This is the section for upcoming class details -->
      <section class="classes">
        <div class="info">
          <p><span class="title">JEUGIAカルチャー洛北　26日(金) 開講です</span>（2024.4.22更新</p>
          <p>JEUGIAカルチャーセンター洛北阪急スクエアのソープカービング教室、<br>26日(金)にいよいよ開講します。<br>
              
          <p>
              4月は薔薇・桜のお好きな方を選んでご受講いただけます。<br>
              初めての方でも2時間で完成、経験者の方にはレベルに合わせて見本をご用意します。
          </p>
          
          <p>
              どなた様もお気軽にご参加ください。<br>
              お待ちしてます♪
          </p>
          
          <p>
              日　時：4/26(金) 10:30-12:30<br>
              受講料：3,460円　材料費別途220円
          </p>
          　<p>
              ナイフ貸出可<br>
              駐車場2時間無料
          </p>
          <p>
              オープン記念特典<br>
              　5月末まで入会金半額<br>
              　受講料通常の10%オフ(通常3,850円)
          </p>
          
          <p>
              詳しくは↓<br>
              <a href="https://culture.jeugia.co.jp/lesson_detail_70-54732.html" target="_blank"><strong>https://culture.jeugia.co.jp/lesson_detail_70-54732.html</strong></a>
          </p>
        </div>
        <div class="pics">
          <a href="<%-imgPath%>240422_1.jpg"  data-lightbox="1"><img src="<%-imgPath%>240422_1_1.jpg"/></a>
          <a href="<%-imgPath%>240422_2.jpg"  data-lightbox="2"><img src="<%-imgPath%>240422_2_1.jpg"/></a>
          
        </div>
      </section>
    </div>
