<section class="classes">
  <div class="info">

                              <p>タイ料理ランチ&amp;ソープカービングのイベント<br>
                                "Feel the THAI @ASAI 京都四条"<br>
                                <br>
                                ご好評いただいた春に続き、第二弾が決定しました。<br>
                                <br>
                                初夏に開催の今回は石鹸でアジサイの花を作ります。<br>
                                琥珀糖のような、小さくて可愛いアジサイです。<br>
                                <br>
                                会場はASAI KYOTO SHIJO ホテル1階のレストランバー「ソイ・ギャン」。<br>
                                明るく居心地の良い空間で、レイシェフが手がける本場の味と評判のランチ(前回とは違うメニューです！)と、タイの文化カービングをぜひ体験してみてください。<br>
                                <br>
                                カービングが初めての方もお気軽にご参加ください。<br>
                              </p>
                              <p>お申し込みは                              </p>
                              <p>　電話　０７５ー７０８ー５６９８（アルファアカデミー） <br>
                                　またはこちらから　＞＞<strong><a href="https://alphaupup.jimdo.com/feel-the-thai/" target="_blank" >https://alphaupup.jimdo.com/feel-the-thai/</a></strong></p>
                                <br>
                              <p>・ 会場：ASAI KYOTO SHIJO 　京都市下京区烏丸通松原東入ル一筋目　<strong><a href="https://www.google.com/maps/place/ASAI+Kyoto+Shijo/@34.9986888,135.7603764,15z/data=!4m9!3m8!1s0x6001091b6ab55837:0x48e4bacec0493388!5m2!4m1!1i2!8m2!3d34.9986888!4d135.7603764!16s%2Fg%2F11kjyc30b0?entry=ttu" target="_blank">＞＞アクセス</a></strong></p>
                              <p>・日程　5月27日(月) 14:00〜16:00 　　*13:30 受付開始</p>
                              <p>・参加費　7,000円　<br>
(税込・ランチ代・レッスン代・材料費込)</p>
                              <p>カービングナイフ、作品お持ち帰り用ケースはご用意いたします。</p>
                            <p><a href="<%-imgPath%>240428_1.jpg"  rel="lightbox" title=""><img src="<%-imgPath%>240428_2.jpg" class="fade" width="200" height="282" border="0" id="170601_2" alt=""  /></a></p>
                            <p><span class="text12">＊画像をクリックすると拡大します。</span></p>
                      <p ><a href="<%-imgPath%>200110_1.html"  rel="lightbox" title=""></a></p>
    <a href="../../index-2.html"></a>
  </section>
</div>

  
