<section class="classes">
  <div class="info">

              <p><span class="title">ソープカービング1日体験講座in福井</span>（2024.6.8更新）</p>
                              <p>京都のイベントでご好評いただいた、石鹸を小さく切って作る紫陽花。<br>
                                <br>
                                今度は福井で体験していただけます。<br>
                                <br>
                                切り出した石鹸から小さい花と葉っぱを作り、最後はケースにぴったり収めて完成です。<br>
                                <br>
                                初めての方もお気軽にご参加ください。<br>
                                <br>
                                6月17日(月) <br>
                                14:30-16:30／19:00-21:00<br>
                                鯖江市文化センター &gt;&gt;<a href="https://www.city.sabae.fukui.jp/kosodate_kyoiku/bunka/riyouannai/Bunkacenteraccess.html" target="_blank"><strong>地図</strong></a><br>
                                <br>
                                6月19日(水) <br>
                                14:30-16:30  福井商工会議所 &gt;&gt;<a href="http://www.fcci.or.jp/fbil/access/" target="_blank"><strong>地図</strong></a><br>
                                18:30-20:30  AOSSA (福井駅東口) &gt;&gt;<a href="http://www.aossa.jp/access/" target="_blank"><strong>地図</strong></a><br>
                                <br>
                                各回 定員3名様<br>
                                <br>
                                受講料  3,300円 ／ 材料費  440円<br>
                                ナイフは貸出しいたします<br>
                                <br>
                                お申込み・お問合せはこちらのメールからお願いします。<br>
                                <a href="mailto:sato@chu-sin.com"><strong>sato@chu-sin.com </strong></a><br>
                                <br>
                                お待ちしてます。</p>
                            </div>
                            <p><a href="<%-imgPath%>240608_1.jpg"  rel="lightbox" title=""><img src="<%-imgPath%>240608_2.jpg" class="fade" width="154" height="200" border="0" id="170601_2" alt=""  /></a></p>
                            <p><span class="text12">＊画像をクリックすると拡大します。</span></p>
                      <p ><a href="../2021/images/200110_1.html"  rel="lightbox" title=""></a></p>
                    </div>
                  </section>
                  