<section class="classes">
  <div class="info">

<span class="title"> 第17回　atelier SATO 京都教室作品展 </span>（2024.6.21更新）</p>
                              <p>夏恒例の教室作品展、今年も開催いたします。<br>
                                <br>
                                スイカやメロンなど旬のフルーツに施した瑞々しい<br>
                                <br>
                                果物彫刻の数々や、色とりどりの石鹸彫刻が並びます。<br>
                                <br>
                                ぜひお気軽にお立ち寄りください。<br>
                                <br>
                                お待ちしてます。<br>
                                <br>
                                <br>
                                日程　7月6日(土)、7日(日)  <br>
                                　　　11:00〜17:30 ＊7日は17:00まで<br>
                                <br>
                                会場　OPTGALLERY  京都市中京区寺町通御池下ル東側 <span><a href="https://map.yahoo.co.jp/place?lat=35.010133550695436&amp;lon=135.76738788209042&amp;zoom=14&amp;maptype=basic" target="_blank"><strong>＞＞アクセス</strong></a></span></p>
                            <p><a href="<%-imgPath%>240621_1.jpg"  rel="lightbox" title=""><img src="<%-imgPath%>240621_2.jpg"/></a></p>
                            <p><span>＊画像をクリックすると拡大します。</span></p>
                      <p><a href="../2021/images/200110_1.html"  rel="lightbox" title=""></a></p>
                    </div>
                  </section>