<section class="classes">
  <div class="info">

  <p>第20回atelier SATO福井教室作品展（2024.7.19更新）</p>
                              <p>福井教室作品展、今月末に開催です。<br>
                                <br>
                                早いもので福井教室を開講してから今年で20年、<br>
                                作品展も20回目を迎えることが出来ました。<br>
                                <br>
                                ここまで続けてこれたのも、受講してくださる生徒の皆さんや支えてくださる方々のおかげです。<br>
                                <br>
                                今年はそんな感謝の気持ちを込めた作品展示になればと<br>
                                思っています。<br>
                                <br>
                                また、フルーツカービングの実演もご覧いただけます。<br>
                                <br>
                                ぜひお気軽にご来場ください。<br>
                                お待ちしております。<br>
                                <br>
                                <br>
                                日程: 7月27日(土)、28日(日)  10:00〜17:00<br>
                                <br>
                                会場: JR福井駅西口すぐ　ハピリン2階　<span class="TEXT_Black13"><a href="https://www.happiring.com/access/" target="_blank" class="TEXT_Black13"><strong>＞＞アクセス</strong></a></span></p>
                            <p><a href="<%-imgPath%>240719_1.jpg"  rel="lightbox" title=""><img src="<%-imgPath%>240719_2.jpg" class="fade" width="200" height="284" border="0" id="170601_2" alt=""  /></a></p>
                            <p><span class="text12">＊画像をクリックすると拡大します。</span></p>
                      <p><a href="../2021/images/200110_1.html"  rel="lightbox" title=""></a></p>
  </div>
</section>
                  