<section class="classes">
  <div class="info">

<p>ありがとうございました（2024.7.31
              更新）</p>
                              <p>この土日に開催しました福井教室作品展は<br>
                                盛況のうち無事終了いたしました。<br>
                                <br>
                                節目となる20回目を終え一安心ですが、<br>
                                またこれからも回を重ねていけるよう<br>
                                精進しようと思います。<br>
                                <br>
                                暑い中ご来場いただいた皆様、<br>
                                応援してくださった皆様、<br>
                                ありがとうございました。</p>
                            <p><a href="<%-imgPath%>240731_1.jpg"  rel="lightbox" title=""><img src="<%-imgPath%>240731_2.jpg" class="fade" width="200" height="150" border="0" id="170601_2" alt=""  /></a></p>
                            <p><span class="text12">＊画像をクリックすると拡大します。</span></p>
                      <p ><a href="../2021/images/200110_1.html"  rel="lightbox" title=""></a></p>
  </div>
</section>
                  