<section class="classes">
  <div class="info">

<p>フルーツカービング1day講座(福井)（2024.7.19更新）</p>
                              <p>福井新聞文化センター教室にて<br>
                                フルーツカービング1day講座開催です。<br>
                                <br>
                                今回は旬のスイカを使って "薔薇の花" を作ります。<br>
                                <br>
                                経験者はもちろん、初めての方でも2時間で仕上がります。<br>
                                <br>
                                ぜひお気軽にご参加ください。<br>
                                <br>
                                日時　　8月6日(火)、20日(火)  18:30〜20:30<br>
                                参加費　3,300円(会員・非会員)<br>
                                材料費　1,500円<br>
                                会場　　福井新聞文化センター<br>
                                ＊ナイフは無料貸出し可<br>
                                <br>
                                お申込み・お問合せは<br>
                                tel 0776-57-5200<br>
                                福井新聞文化センター　<span class="TEXT_Black13"><a href="https://www.fukuishimbun.co.jp/ud/seminars/search?type[]=%ef%bc%91day%e3%82%ab%e3%83%ab%e3%83%81%e3%83%a3%e3%83%bc&amp;date[]=%e7%81%ab" target="_blank" class="TEXT_Black13"><strong>＞＞アクセス</strong></a></span></p>
                                <a href="<%-imgPath%>240801_1_1.jpg"  rel="lightbox" title=""><img src="<%-imgPath%>240801_1_2.jpg" class="fade" width="200" height="267" border="0" id="170601_2" alt=""  /></a>
                                <a href="<%-imgPath%>240801_2_1.jpg"  rel="lightbox" title=""><img src="<%-imgPath%>240801_2_2.jpg" class="fade" width="200" height="267" border="0" id="170601_" alt=""  /></a>
                              
                            
                            <p><span class="text12">＊画像をクリックすると拡大します。</span></p>
                      <p ><a href="../2021/images/200110_1.html"  rel="lightbox" title=""></a></p>
  </div>
</section>
