<section class="classes">
  <div class="info">

第三弾　"Feel the THAI @ASAI 京都四条"（2024.9.16更新）</p>
                
                              <p>タイ料理ランチ&amp;カービングのイベント<br>
                                "Feel the THAI @ASAI 京都四条"<br>
                                <br>
                                今月末に第三弾開催です。<br>
                                <br>
                                今回はハロウィンに向けて"りんごのロウソク立て"を作ります。<br>
                                <br>
                                会場はASAI 京都四条ホテル1階のレストランバー「ソイ・ギャン」。<br>
                                本場のシェフが作る評判のランチと、タイの文化フルーツカービングをぜひ体験してみてください。<br>
                                <br>
                                初めての方でも大丈夫です、お気軽にご参加ください。<br>
                                <br>
                                お待ちしてます。<br>
                                <br>
                                日程　9月24日(火) 14:00〜16:00 <br>
                                ＊13:30 受付開始<br>
                                <br>
                                参加費　7,000円(税込/ランチ・レッスン代込)<br>
                                材料費　500円(税込)<br>
                                <br>
                                会場　ASAI KYOTO SHIJO <br>
                                京都市下京区烏丸通松原東ル一筋目<br>
                                <br>
                                お申込みは<br>
                                電話: 075-708-5698  アルファアカデミー<br>
                                またはこちらから↓<br>
                                <a href="https://alphaupup.jimdo.com/feel-the-thai/" ><strong>https://alphaupup.jimdo.com/feel-the-thai/</strong></a></p>
                              <p>カービングナイフ、作品お持ち帰り用袋はご用意いたします。<br>
                              
                                <a href="<%-imgPath%>240916_1_1.jpg"  rel="lightbox" data-lightbox="240916_1_1.jpg"><img src="<%-imgPath%>240916_1_2.jpg"/></a>
                                &nbsp; 
                                <a href="<%-imgPath%>240916_2_1.jpg"  rel="lightbox" data-lightbox="240916_2_1.jpg"><img src="<%-imgPath%>240916_2_2.jpg"/></a>
                              
                            <p><span class="text12">＊画像をクリックすると拡大します。</span></p>
                          
                      <a href="../2021/images/200110_1.html"  rel="lightbox"></a></p>

  </div>
</section>
            
