<style>
    .pics {
        & img {
            width: 20rem;
            margin-top: 5rem;
        }
    }
</style>
<section class="classes">
    <div class="info">
        <p><span class="title">明けましておめでとうございます</span></p><br>
        <p>明けましておめでとうございます。<br>
            今年もよろしくお願いします。<p><br>
        
        <p>
            今年は新たにキャンドルカービング講座を開講予定です。
        </p>
        
        
    </div>
    <div class="pics">
        <a href="<%-imgPath%>250128_1.jpg"  data-lightbox="1"><img src="<%-imgPath%>250128_1.jpg"/></a>
    </div>
</section>
