<section class="classes">
<div class="info">
  <p><span class="title"> 今年もよろしくお願いします</span>（2023.1.5更新）</p>
  <p>石鹸に"波兎(なみうさぎ)"模様を彫りました。</p>
  <p>今年もよろしくお願いいたします。</p>
</div>

<div class="pics">
    <a href="<%-imgPath%>230105_1.jpg"  rel="lightbox"><img name="230105_1" src="<%-imgPath%>230105_1_1.jpg"</a>
    <a href="<%-imgPath%>230105_2.jpg"   rel="lightbox"><img name="230105_2" src="<%-imgPath%>230105_2_1.jpg"></a>
    
</div>

<div class="info">
  <p>＊画像をクリックすると拡大します。</p>
</div>

</section>



                
           
            
        
      
  
  
  
  
  
  
  
