<style>
  .pics {
    margin-bottom: 2rem;
  }
</style>

<section class="classes">
  <div class="info">
    <p><span class="title">バレンタインソープカービング体験講座　＠JEUGIA</span>（2023.1.24更新）</p>
                    
    <p>JEUGIAカルチャーセンターにて、<br>
      「バレンタインソープカービング」の<br>
      体験講座を開催します。</p>

    <p>作品お持ち帰り用の箱をご持参ください。<br>
    ナイフは貸出いたします（購入可）</p>

    <br>
    <p>初めての方も経験者の方も、お気軽にご参加ください。</p>

    <p>日時：2月14日（火）<br>
      １３：００〜１５：００<br>
      受講料：３,３００円（税込）<br>
      材料費：２００円程度<br>
      会場：<a href="https://culture.jeugia.co.jp/hall_information_2.html#information" target="_blank"><strong>カルチャー京都 de Basic</strong></a><br>
    </p>
    <p>お申し込み・お問い合わせはこちらまで<br>075-254-2835 <a href="https://culture.jeugia.co.jp/lesson_detail_2-47552.html" target="_blank"><strong>カルチャー京都 de Basic</strong></a></p>
  </div>
 
  <div class="pics">
    <img src="<%-imgPath%>230124_1.jpg"/>
  </div>
</section>                           
