<section class="classes">
  <div class="info">
    <p><span class="title"> 京都にて個展開催</span>（2023.2.11更新）</p>
    <p>京都で個展を開催します。</p>
    <p>１２年かけて制作してきた石鹸彫刻作品「十二支シリーズ」が、</p>
    <p>今年の干支の&rdquo;兎&rdquo;を彫ったことで完結しました。</p>
    <p>１２作品を全て展示するのは今回が初めてです。</p>
    <p>会場ではフルーツカービングの実演や</p>
    <p>十二支シリーズの作品を収録した冊子の販売もございます。</p>
    <p>ぜひお気軽にお立ち寄りください。<br>
    </p>
    <p><strong><strong>　<span class="topic_black">3月4日（土）〜12日（日）　＊6日（月）休廊</span></strong></p>
    <p>　<a href="https://www.gallery-daimon.com/" target="_blank" <strong>ギャラリーDAIMON</strong></a><span>（京都市北区）</span></p>
    <p class="topic_black">　在廊日　4日(土) ,5日(日), 10日(金), 11日(土), 12日(日)</p>
    <p class="topic_black">　フルーツカービング実演　11日(土) 11:30〜/14:00〜　30分程度</p>
  
  <div class="pics">
    <a href="<%-imgPath%>230211_1.jpg"  rel="lightbox"><img name="230105_1" src="<%-imgPath%>230211_1_1.jpg" /></a>
    <a href="<%-imgPath%>230211_2.jpg"  rel="lightbox"><img name="230105_2" src="<%-imgPath%>230211_2_1.jpg"/></a>
  </div>                 
  
  <div class="info">
    <p>＊画像をクリックすると拡大します。</p>
  </div>
</section>           
                
            
