<section class="classes">
  <div class="info">
    <span class="title">個展終了いたしました</span>（2023.3.21更新）</p>
    <p>先日開催しました個展は無事終了いたしました。<br>
      <br>
      ご来場いただいた皆様、応援してくださった皆様、<br>
      <br>
      ありがとうございました。
    </p>
  </div>

  <div class="pics">
  <p><img src="<%-imgPath%>230321_1.jpg"/></p>
  </div>
</section>                   