<section class="classes">
  <div class="info">
    <span class="title"> 第１６回　atelier SATO フルーツ&ソープカービング京都教室作品展 </span>（2023.6.24更新）</p>

    <p>今年も夏恒例の作品展の季節がやってきました。</p>
    <p>京都教室ご受講の皆さんによる、スイカやメロンなどこの時期ならではの</p>
    <p>瑞々しい果物彫刻や、色とりどりの石鹸彫刻の数々をお楽しみください。</p>
    <p>講師が12年かけて制作し昨年完結した、石鹸彫刻作品「十二支シリーズ」</p>
    <p>の展示もございます。</p>
    <p>ぜひお気軽にお立ち寄りください。</p>
    <p>日時：7月8日（土）・9日（日）　11:00 ~ 17:30 ＊9日は17:00まで</p>
    <p>会場：OPT GALLERY 京都市中京区寺町通御池下ル東側 <span><a href="https://map.yahoo.co.jp/place?lat=35.010133550695436&amp;lon=135.76738788209042&amp;zoom=14&amp;maptype=basic" target="_blank" ><strong>＞＞アクセス</strong></a></span></p>
  </div>

  <div class="pics">
    <p><a href="<%-imgPath%>230624_1.jpg"  rel="lightbox"><img src="<%-imgPath%>230624_2.jpg"/></a></p>
  </div>

  <div class="info">
    <p><span>＊画像をクリックすると拡大します。</span></p>
  </div>
</section>
