<section class="classes">
  <div class="info">
    <span class="title">ソープカービングで作る”小さな祇園祭”</span>（2023.7.3更新）</p>
    <p>昨年ご好評いただいた、祇園祭特別企画　
    <p>「ソープカービングで作る"小さな祇園祭"」を</p>
    <p>今年も開催します。                        </p>
    <p>京都の夏の風物詩、祇園祭をモチーフに、</p>
    <p>１つの石鹸から&rdquo;車輪・扇子・提灯&rdquo;の３つを作ります。                        </p>
    <p>鉾が建ち始める京都の特別な雰囲気の中、</p>
    <p>手のひらサイズの祇園祭をぜひお楽しみください。<br>
    </p>
    <p>初心者の方も経験者の方も、お気軽にご参加ください。</p>
    <p>お待ちしております。<br>
    </p>
    <p>日程　　7月11日（火）　13:00〜15:00</p>
    <p>会場　　JEUGIAカルチャー京都 de Basic. （京都四条烏丸）</p>
    <p>受講料　3,300円（税込）　材料費　200円/石鹸１個</p>
    <p>＊ナイフは無料貸し出し可                        </p>
    <p>お申し込み、お問い合わせなど詳しくはこちらを<a href="https://culture.jeugia.co.jp/lesson_detail_2-48787.html?PHPSESSID=jkl8at0oq8r0fhavrdbcild460" target="_blank"><strong>JEUGIAカルチャー京都 de Basic.</strong></a><strong><a href="de%20Basic.%c2%a0%c2%a0https_/culture.jeugia.co.jp/lesson_detail_2-48787.html" target="_blank"></a></strong></p>
  </div>  
  
  <div class="pics">
    <span><a href="<%-imgPath%>2300703_1_1.jpg"  rel="lightbox"><img name="170601_1" src="<%-imgPath%>2300703_1_2.jpg"/></a></span>
    <a href="<%-imgPath%>2300703_2_1.jpg"  rel="lightbox"><img name="170601_1" src="<%-imgPath%>2300703_2_0.jpg"/></a>
  </div>

  <div class="info">
    <p><span class="text12">＊画像をクリックすると拡大します。</span></p>
  </div>
</section>           
