<section class="classes">
  <div class="info"> 
    <span class="title">京都教室作品展、無事終了いたしました </span>（2023.7.10更新）</p>
    <p>7月8日、9日に開催しました"atelier SATO 京都教室作品展"は<br>
    <br>
    盛況のうちに無事終了いたしました。<br>
    <br>
    ご来場いただいた皆様、応援してくださった皆様、ありがとうございました。<br>
    <br>
    来週末には福井教室作品展を開催します。</p>
  </div>

  <div class="pics">
    <p><a href="<%-imgPath%>2300710_1.jpg"  rel="lightbox"><img src="<%-imgPath%>2300710_2.jpg"/></a></p>
  </div>

  <div class="info">
    <p><span>＊画像をクリックすると拡大します。</span></p>
  </div>
  
</section>