<section class="classes">

  <div class="info">
    <span class="title">第19回 atelier SATO 福井教室作品展</span>（2023.7.11更新）</p>
    <p><br>
    京都教室に続き、atelier SATOカービング福井教室作品展を開催します。
    <br>
    自然光が降り注ぐ開放的な空間で、果物彫刻や石鹸彫刻の数々をお楽しみください。
    <br>
    会場はJR福井駅すぐ、アクセス抜群です
    <br>
    ぜひお気軽にお立ち寄りください。
    
    <br><br>
    日程 : 7月22日(土)、23(日)   10:00-17:30
    <br>
    会場 : ハピリン2F(JR福井駅西口すぐ）<a href="http://www.happiring.com/access/" target="_blank"><strong>アクセス</strong></a><a href="http://www.happiring.com/access/" target="_blank"><strong>＞＞</strong></a></p>
  </div>

  <div class="pics">
    <p><a href="<%-imgPath%>2300711_1.jpg"  rel="lightbox"><img src="<%-imgPath%>2300711_2.jpg"/></a></p>
  </div>
  
  <div class="info">
    <p><span>＊画像をクリックすると拡大します。</span></p>
  </div>
  </section>