<section class="classes">
  <div class="info">
    <p><span class="title">福井教室作品展、無事終了いたしました</span>（2023.7.25更新）
    この土日に開催しました"atelier SATO福井教室作品展"は、盛況のうちに無事終了いたしました。<br>
    <br>
    猛暑の中ご来場いただいた皆様、応援してくださった皆様、ありがとうございました！</p>                        
  </div>

  <div class="pics">
    <span><a href="<%-imgPath%>2300725_1_1.jpg"  rel="lightbox"><img src="<%-imgPath%>2300725_1_2.jpg" /></a></span>
    <a href="<%-imgPath%>2300725_2_1.jpg"  rel="lightbox"><img src="<%-imgPath%>2300725_2_2.jpg"/></a>
  </div>

  <div class="info">
    <p><span>＊画像をクリックすると拡大します。</span></p>
  </div>
</section>
