<section class="classes">
  <div class="info">
    <span class="title">Webマガジン"やる気ラボ"さんに取材していただきました</span>（2023.9.16更新）</p>
    <p>やる気スイッチでおなじみの「やる気の科学研究所」が運営するウェブサイト"やる気ラボ"さんに取材していただきました。<br>
    <br>
    カービングを始めるまでの活動や、教室開講のいきさつなどお話しさせていただいてます。<br>
    <br>
    記事はこちらです。<br>
    <a href="https://www.yaruki-lab.jp/atelier-sato/" target="_blank"><strong>https://www.yaruki-lab.jp/atelier-sato/</strong></a></p>
  </div>

  <div class="pics">
    <p><a href="https://www.yaruki-lab.jp/atelier-sato/" target="_blank"><img src="<%-imgPath%>2300916_1.jpg"/></a></p>
  </div>
</section>