<section class="classes">    
  <div class="info"> 
    <span class="title">石鹸で作るクリスマスツリー</span>（2023.11.25更新）</p>
    <p>クリスマスに向けた体験講座のお知らせです。
    <br>
    お好きな色でツリーを１つ作っていただき、デコレーションして完成です。<br>
    <br>
    クリスマス気分を盛り上げる、手のひらサイズの可愛いツリーです。<br>
    ナイフは貸出しいたします。<br>
    初めての方もお気軽にご参加ください。<br>
    <br>
    12月4日(月) 14:30〜/ 19:00〜 鯖江市文化センター
    12月5日(火) 18:30〜 福井新聞文化センター
    12月6日(水) 14:30〜 福井商工会議所
    <br>
    ＊受講料　3,300円<br>＊材料費別途250円<br>
    ＊各2時間</p>
    <p><br>
    受講ご希望の方は上部"お問い合わせ"から<a href="mailto:sato@chu-sin.com"><strong>メール</strong></a>にてご連絡ください。<br>
    お待ちしております。<br>
    <br>
    ＊京都でご受講希望の方もお気軽にお問い合わせください。京都教室のご受講可能日をお知らせいたします。</p>
  </div>

  <div class="pics">
    <p><a href="<%-imgPath%>231125_1.jpg"  rel="lightbox"><img src="<%-imgPath%>231125_2.jpg"/></a></p>
  </div>
</section>
