<section class="classes">
<div class="info">
  <p><span class="title">“薔薇コース” 始めます（2017.1.11更新）</span></p>
                  <p>バラの模様ばかりを集めた “薔薇コース” を始めます。（ソープのみ）</p>
                <p>「バラだけでも作れるようになりたい」<br>
                  「もう一度、基本からバラを復習したい」<br>
                  「いろんなバラの模様を彫ってみたい」<br>
                  という方はもちろん、<br>
                  「いつも同じところに傷が入ってしまう」<br>
                  などのお悩みの解決にもお役立てください。</p>
                <p>カービングが初めての方も、経験者の方も、<br>
                  初級から上級まで、レベルに合わせてご受講いただけます。<br>
                  3月開始予定です。<br>
                  お気軽にお問い合わせください。</p>
                <p>＊画像はイメージです。</p>

</div>
<div class="pics">
    <a href="<%-imgPath%>170111_1.jpg"  rel="lightbox"><img name="170111_1" src="<%-imgPath%>170111_1.jpg"</a>
    <!-- <style>.pics img {width: 480px; height: 478px;}</style> -->
</div>

<!-- <div class="info">
</div> -->

</section>

