<style>
    .pics {
        & img {
            width: 20rem;
            /* margin-top: 5rem; */
            
        }
    }
    .info>p {
        margin-bottom: 1.5rem;
    }
</style>
<section class="classes">
    <div class="info">
        <!-- <p><span class="title">佐藤朋子作品展　-模様の居場所-</span></p> -->
        <p><span class="title">個展終了いたしました</span></p>
        <p>開催していました個展は、無事終了いたしました。
            連日たくさんの方にお越しいただきいろんなお話も出来て、充実した楽しい個展となりました。</p>
        <p>ご来場いただいた皆様、応援してくださった皆様、ありがとうございました。</p>

        <!-- <p>
            2年ぶりの今回の個展では、石鹸彫刻、木工レリーフなどの作品に加えて、新たに挑戦したキャンドル彫刻作品も展示します。
        </p>

        <p>
            また、石鹸彫刻作品の模様を平面に変換して描いた絵や、りんごに彫った模様を図柄にしたハンカチなど、同じ模様を違う素材で形にした作品も制作しました。
        </p>

        <p>
            自分自身、素材と模様の関係性について改めて考える機会になった作品展です。<br>
            会場で楽しんでいただければ幸いです。
        </p>

        <p>
            2025年　4月5日(土)〜13日(日)
            ＊7日(月)休廊<br>
            12:00〜18:00   最終日17:00まで
        </p>

        <p>在廊日　5日(土)、6日(日)、11日(金)、13日(日)</p>

        <p>
            ギャラリーDAIMON<br>
            <a href="https://gallery-daimon.storeinfo.jp/pages/1014894/location">https://gallery-daimon.storeinfo.jp/pages/1014894/location</a>
        </p> -->
        
        
    </div>
    
    <div class="pics">
        <a href="<%-imgPath%>250418.jpg"  data-lightbox="1"><img src="<%-imgPath%>250418.jpg"/></a>
    </div>
</section>
