<style>
    .pics {
        & img {
            width: 20rem;
            /* margin-top: 5rem; */
            
        }
    }
    .info>p {
        margin-bottom: 1.5rem;
    }
</style>
<section class="classes">
    <div class="info">
        <!-- <p><span class="title">佐藤朋子作品展　-模様の居場所-</span></p> -->
        <p>タイの食と文化を楽しめる<br>
            "Feel the THAI @ASAI KYOTO SHIJO"</p>

        <p>第5弾となる今回は、ASAI KYOTO SHIJOホテル開業2周年特別企画として「ソープカービング体験&特別タイ料理ディナーコース」です。</p>
        
        <p>ソープカービングは経験者の方には少し本格的な内容を、初心者の方には初めてでも楽しく作れる内容を、それぞれご用意いたします。<br>
            (カービングが初めての方はお申込み時にお伝えください)</p>

        <p>
            作品を仕上げた後は本場のシェフが企画した特別ディナーコースをご賞味ください。<br>
            カービングの疲れを癒す乾杯ドリンク付きです。
        </p>

        <p>
            ナイフなどはこちらでご用意いたします。<br>ぜひお気軽にご参加ください。</p>

        <p>
            お待ちしてます。
        </p>

        <p>
            日程　2025年 6月24日(火) 15:00〜18:30
        </p>

        <p>参加費　11,500円(材料費・税込)<br>
            ＊乾杯ドリンク付き(ノンアルコール可)</p>

        <p>会場　ASAI KYOTO SHIJOホテル1階<br>
            レストランバー "ソイ・ギャン"<br>
            京都市下京区烏丸通松原東ル一筋目
        </p>

        <p>
            お申込み・お問い合わせは<br>
電話: 075-708-5698  アルファアカデミー<br>
またはこちらから↓<br>
            <a href="https://www.alphaupup.com/feel-the-thai/"><strong>https://www.alphaupup.com/feel-the-thai/</strong></a>
        </p>
        
        
    </div>
    
    <div class="pics">
        <a href="<%-imgPath%>250602.jpg"  data-lightbox="1"><img src="<%-imgPath%>250602.jpg"/></a>
    </div>
</section>
