<style>
    .pics {
        & img {
            width: 20rem;
            /* margin-top: 5rem; */
            
        }
    }
    .info>p {
        margin-bottom: 1.5rem;
    }
</style>
<section class="classes">
    <div class="info">
        <p><strong>第18回 フルーツ&ソープカービング京都教室作品展</strong><br></p>

        <p>夏恒例の教室作品展、今年も開催いたします。<br>
ぜひお気軽にお立ち寄りください。</p>

<p>2025年　7月5日(土)、6日(日)
    <br>11:00-17:30  ＊6日は17:00まで
</p>
        
        <br>
            <a href="https://map.yahoo.co.jp/v3/place/eV6ycZYJrAQ/map"><strong>会場　OPTGALLERY   map>></strong></a>
        </p>
        
        
    </div>
    
    <div class="pics">
        <a href="<%-imgPath%>250620.jpg"  data-lightbox="1"><img src="<%-imgPath%>250620.jpg"/></a>
    </div>
</section>
