<style>
    .pics {
        & img {
            width: 20rem;
            /* margin-top: 5rem; */
            
        }
    }
    .info>p {
        margin-bottom: 1.5rem;
    }
</style>
<section class="classes">
    <div class="info">
        <p><strong>ありがとうございました</strong><br></p>

        <p>7月5日(土)、6日(日)に開催しました京都教室作品展は、盛況のうちに無事終了いたしました。</p>

<p>猛暑の中ご来場いただいた皆様、応援してくださった皆様、ありがとうございました！
</p>
        
        <!-- <br>
            <a href="https://map.yahoo.co.jp/v3/place/eV6ycZYJrAQ/map"><strong>会場　OPTGALLERY   map>></strong></a>
        </p> -->
        
        
    </div>
    
    <div class="pics">
        <a href="<%-imgPath%>250620_1.jpg"  data-lightbox="1"><img src="<%-imgPath%>250620_1.jpg"/></a>
    </div>
</section>
