<style>
    .pics {
        & img {
            width: 20rem;
            /* margin-top: 5rem; */
            
        }
    }
    .info>p {
        margin-bottom: 1.5rem;
    }
</style>
<section class="classes">
    <div class="info">
        <p><strong>第21回 atelier SATOカービング福井教室作品展</strong><br></p>

        <p>福井教室作品展、今年は10月に開催です。</p>

<p>かぼちゃやさつまいも、りんごなど季節の野菜・果物に彫刻した作品、ソープカービング作品、そして今年はキャンドルカービング作品も展示します。</p>

<p>また会場ではソープカービングの体験が出来ますので、創作の秋にぜひお気軽にお立ち寄りください。</p>

<p>お待ちしてます。</p>

<p>
    10月11日(土)、12日(日) <br>
    10:00〜17:00 <br>
    福井駅西口　ハピリン2階　>><a href="https://www.happiring.com/access/">アクセス</a>
</p>
    </div>
    
    <div class="pics">
        <a href="<%-imgPath%>250920.jpg"  data-lightbox="1"><img src="<%-imgPath%>250920.jpg"/></a>
    </div>
</section>
