<style>
    .pics {
        & img {
            width: 20rem;
            /* margin-top: 5rem; */
            
        }
    }
    .info>p {
        margin-bottom: 1.5rem;
    }
</style>
<section class="classes">
    <div class="info">
        <p><strong>ありがとうございました</strong><br></p>


<p>10月11日,12日に開催しました福井教室作品展は、無事終了いたしました。</p>

<p>また会場ではソープカービングの体験が出来ますので、創作の秋にぜひお気軽にお立ち寄りください。ご来場いただいた皆様、応援してくださった皆様、ありがとうございました！</p>


    </div>
    
    <div class="pics">
        <a href="<%-imgPath%>251014.jpg"  data-lightbox="1"><img src="<%-imgPath%>251014.jpg"/></a>
    </div>
</section>
