<section class="classes">
  <div class="info">

    <p>"Feel the THAI @ASAI 京都四条" 第4弾開催 (2024.12.17 更新)</p>
                
      <p>タイ料理ランチ&amp;カービングのイベント<br>
        "Feel the THAI @ASAI 京都四条"<br>
        <br>
        新年1月に第4弾開催です。<br>
        <br>
        バレンタインが近いこの日は、石鹸でチョコアソートを作ります。<br>
        <br>
        会場はASAI 京都四条ホテル1階のレストランバー「ソイ・ギャン」。
        本場のシェフが作る評判のランチとソープカービングを一度にお楽しみいただけます。<br>
        <br>
        ナイフ、作品お持ち帰り用袋はご用意いたします。
        初めての方もお気軽にご参加ください。<br>
        <br>
        お待ちしてます。<br>
        <br>
        日程　1月27日(月) 14:00〜16:00 <br>
        ＊13:30 受付開始<br>
        <br>
        参加費　7,000円(税込/ランチ・レッスン代)<br>
        材料費　300円(税込)<br>
        <br>
        会場　ASAI KYOTO SHIJO <br>
        京都市下京区烏丸通松原東ル一筋目<br>
        <br>
        お申込み・お問い合わせは<br>
        電話: 075-708-5698  アルファアカデミー<br>
        またはこちらから↓<br>
        <a href="https://alphaupup.com/feel-the-thai/" ><strong>https://alphaupup.com/feel-the-thai/</strong></a></p>
      </p>      
    </div>
    <div class="pics">
        <a href="<%-imgPath%>250127_1.jpg"  rel="lightbox" data-lightbox="250127_1.jpg"><img src="<%-imgPath%>250127_1.jpg"/></a>
        &nbsp; 
        <a href="<%-imgPath%>250127_2.jpg"  rel="lightbox" data-lightbox="250127_2.jpg"><img src="<%-imgPath%>250127_2.jpg"/></a>
    </div>
  

  
</section>


            
