<style>
    .pics {
        & img {
            width: 20rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
</style>
<section class="classes">
    <div class="info">
        <p><span class="title">明けましておめでとうございます</span></p>
        <p>明けましておめでとうございます。</p>
        <p>
            新しい年が皆さまにとって幸多き一年となりますように。
        </p>
        <p>
            今年もよろしくお願いいたします。
        </p>
        
        
    </div>
    <div class="pics">
        <a href="<%-imgPath%>260105.jpg"  data-lightbox="1"><img src="<%-imgPath%>260105.jpg"/></a>
    </div>
</section>
