<style>
    .pics {
        & img {
            width: 20rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    
    }
    
</style>
<section class="classes">
    <div class="info">
        <p><span class="title">春のフルーツカービング体験講座</span></p>
        <br>
        <p>フルーツカービング体験講座開催です。<br>
            今回は赤いりんごと青リンゴを使って小さなお花と葉っぱを作ります。
        </p>
        <br>
        <p>
            ナイフ1本でデザートやサラダを華やかに演出してみませんか？
        </p>
        <br>
        <p>
            初めて方でも大丈夫です。<br>
ナイフは無料で貸出しいたします。<br>
どうぞお気軽にご参加ください。
        </p>
        <br>
        <p>
            お待ちしてます。<br>
            
            <br>日程　　3月17日(火)   18:30〜20:30
            <br>会場　　福井新聞文化センター
            <br>受講料　3,300円+材料費600円
        </p>

<p>
    <a href="https://web.my-class.jp/fcc/asp-webapp/web/WWebKozaShosaiNyuryoku.do?kozaId=8717088">
        <b>
            お申込み・お問い合わせは↓<br>
            福井新聞文化センター
        </b>
    </a>
</p>
        
    </div>
    <div class="pics">
        <a href="<%-imgPath%>260201.jpg"  data-lightbox="1"><img src="<%-imgPath%>260201.jpg"/></a>
    </div>
</section>
